* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(3, 0, 31);
  color: white;
  font-family: "Poppins", sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
}

.Sidebar {
  background-color: #141432;
  width: 300px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.upperSide {
  display: flex;
  flex-direction: column;
}

.upperSideTop {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 75px; /* Adjust the width as needed to reduce the size */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto; /* Center the logo */
}

.brand {
  text-align: center;
  font-weight: bold;
  font-size: 2rem; /* Adjust the font size as needed */
  margin-top: 10px; /* Add margin for spacing */
  margin-bottom: 20px; /* Add margin between "infoFLOW" and the button */
}

.midBtn {
  background: #5a4bff;
  border: none;
  color: white;
  padding: 1rem; /* Decrease the padding to make it smaller */
  font-size: 1.2rem; /* Decrease the font size */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 1rem;
  border-radius: 0.5rem;
  margin-top: 5px; /* Adjust top margin if needed */
}

.addBtn {
  max-width: 20px; /* Adjust the max-width of the image */
  margin-right: 5px; /* Add some right margin for spacing between image and text */
}

.upperSideBottom {
  margin-top: 10px;
}

.query {
  display: flex;
  align-items: center;
  background: transparent;
  color: rgba(222, 222, 222, 1);
  padding: 1.5rem;
  width: 25rem;
  margin: 1rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(98, 98, 98, 1);
}

.query > img {
  margin-right: 2rem;
  object-fit: cover;
  height: 1.75rem;
}

.lowerSide {
  border-top: 2px solid #716d6d; /* Add a black division line */
  padding-top: 10px; /* Add some padding above the line for spacing */
  margin-top: 180px; /* Add margin above the line for spacing */
  padding: 2rem;
}

.listItems {
  margin: 0.75rem;
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 1.3rem;
  color: white;
}

.listItemsImg {
  margin: 0.75rem;
  padding-right: 1.2rem;
}

.listItems:nth-child(1) > .listItemsImg {
  margin-right: 0.6rem;
}

.listItems:nth-child(2) > .listItemsImg {
  margin-right: 1rem;
}

.listItems:nth-child(3) > .listItemsImg {
  margin-right: 0.1rem;
}
.main {
  min-height: calc(100vh -14rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
}

.chatFooter {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inp {
  padding: 0.5rem;
  background: rgba(28, 30, 58, 1);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  width: 70rem;
}

.inp > input {
  width: calc(100% -3rem);
  outline: none;
  padding: 1.25rem;
  color: white;
}

.inp > input,
.send {
  background: transparent;
  border: none;
}
