* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: rgb(3, 0, 31);
  color: white;
  font-family: "Poppins", sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
}

.Sidebar {
  background-color: #141432;
  width: 250px;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.upperSide {
  display: flex;
  flex-direction: column;
}

.upperSideTop {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 65px; /* Adjust the width as needed to reduce the size */
  height: auto; /* Maintain aspect ratio */
  display: block;
  margin: 0 auto; /* Center the logo */
}

.brand {
  text-align: center;
  font-weight: bold;
  font-size: 2rem; /* Adjust the font size as needed */
  margin-top: 10px; /* Add margin for spacing */
}

.midBtn {
  background: #5a4bff;
  border: none;
  color: white;
  padding: 1rem; /* Decrease the padding to make it smaller */
  font-size: 1.2rem; /* Decrease the font size */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin-top: 5px; /* Adjust top margin if needed */
}

.addBtn {
  max-width: 20px; /* Adjust the max-width of the image */
  margin-right: 5px; /* Add some right margin for spacing between image and text */
}

.upperSideBottom {
  margin-top: 10px;
}

.query {
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: white;
  background-color: #1f1f46;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

.listItems {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: white;
}

.main {
  flex: 1;
}
